asn1crypto==0.24.0
certifi==2022.12.7
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
defusedxml==0.5.0
future==0.16.0
grab==0.6.41
idna==2.7
lxml==4.2.5
pycparser==2.19
pycurl==7.43.0.2
python-telegram-bot==11.1.0
pytils==0.3
requests==2.19.1
selection==0.0.14
six==1.11.0
urllib3==1.23
user-agent==0.1.9
weblib==0.1.30
